body{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    min-height: 100vh;    
    background-color: lightcyan;
}
.calculatorContainer{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

#display {
    background-color: #b2b9b7;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    font-weight: initial;
}

button{
    margin: 1px;
    border-radius: 5%;
    border: none;
    font-weight: initial;
    font-size: 2em;
    font-family: monospace;
    color: black;
}
.secondRow{
    display: flex;
    flex-basis: 100%;
    flex: 1;
}
.thirdRow{
    display: flex;
    flex:1;
}
.fourthRow{
    display: flex;
    flex:1;
}
.fifthRow{
    display: flex;
    flex: 1;
}

